<div class="container">

<div class="row text-center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:400px;max-width:1100px;width:100%;height:140px'></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <% if devise_error_messages! %>
  <div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= devise_error_messages! %>
    </div>

    <% end %>
<div class="row">
<div class="col-sm-4">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- school9edu_main_Blog1_1x1_as -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="9074553645"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>   

</div>
<div class="col-sm-4">
<div class="ibox-content text-center">
<h1 class="text-center"><b>Registraion</b></h1>
   <div class="field">
    <%= f.label :firstname %><br/>
    <%= f.text_field :firstname, autofocus: true, required: true %>
  </div>

   <div class="field">
    <%= f.label :lastname %><br/>
    <%= f.text_field :lastname, required: true %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, required: true %>
  </div>

   <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district, required: true %>
  </div>
   
<br>
<!-- <%= recaptcha_tags %> -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- school9edu_main_Blog1_1x1_as -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7665698555914778"
     data-ad-slot="9074553645"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="actions">

    <%= f.submit "Sign up", :class => "btn btn-primary m-b" %>
  </div>
<% end %>



     

<%= render "devise/shared/links" %>
</div>
</div>
    <div class="col-sm-4">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- school9edu_main_Blog1_1x1_as -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="9074553645"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>   

    </div>
</div>
</div>