<div class="container">
<% i =1 %>
		
		<table class="table table-bordered">
		<tr class="text-center">
			<th class="col-sm-4">Question</th>
			<th>Subject</th>
			<th>Option A</th>
			<th>Option B</th>
			<th>Option C</th>
			<th>Option D</th>
			<th>True Answer</th>
			<th>Comman</th>
			<th>ID</th>	


		</tr>
			
		
			
			<% @questions.each do |q| %>

			<tr>


					<td ><%= i  %>) <%= q.question %><br>
					
					<% if q.qimage? %>
						<%= image_tag(q.qimage,:class => 'img-responsive') %>
					<% end %>
					</td>

					<td><%= q.subject %></td>
					

					<td>
						<%if q.comman == "yes" %>
							<%= image_tag(q.optiona,:class => 'img-responsive') %>
						<% else %>
							<%= q.a %>
						<% end %>
					</td>
					
					<td>
						<%if q.comman == "yes" %>
							<%= image_tag(q.optionb,:class => 'img-responsive') %>
						<% else %>
							<%= q.a %>
						<% end %>
					</td>
					
					<td>
						<%if q.comman == "yes" %>
							<%= image_tag(q.optionc,:class => 'img-responsive') %>
						<% else %>
							<%= q.c %>
						<% end %>
					</td>
					
					<td>
						<%if q.comman == "yes" %>
							<%= image_tag(q.optiond,:class => 'img-responsive') %>
						<% else %>
							<%= q.d %>
						<% end %>
					</td>
					
					
					<td>
						<% if q.comman =="yes" %>
							<%= q.t %>
						<% else %>
							<%= q.t %>
						<% end %>
					</td>
					<td><%= q.comman %></td>
					<td> <%=q.id %>
				</tr>

				<% i+=1 %>
	
			<% end %>
	</table>

</div>