<!-- <style type="text/css">
	.rightdiv {
   position: absolute;
   left: 100%;
   top: 0;
}
</style> -->
<div class="container">

<div class="row">
      <div class="col-sm-12">
        <h4 class="page-title"></h4>
        <ol class="breadcrumb">
          <li><b><a href="/">Home</a></b></li>
          <li><b><a href="/ecetsubjects">Ecet Subjects</a></b></li>
          <li class="active">Tests</li>
        </ol>
     </div>
 </div>
<div class="row text-center">
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px'></ins>
                
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>


<% i = 1 %>

<div class="row">
<div class="col-sm-2 text-center"></div>
	<div class="col-md-8">

<% if @comptest.empty? %>
	<div class="alert alert-danger">
      <strong>Sorry, No tests added yet &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/ecetsubjects">Click here</a> &nbsp;&nbsp;to go back</strong>
    </div>
		
<% else %>
		<table class="table table-bordered">
			<tr>
				<th class="text-success success">Test</th>
				<th class="text-success success">Date</th>
				<th class="text-success success"></th>
			</tr>
			
			<% ad=@comptest.count/2 %>
			<% ad2=@comptest.count/2 %>
			<% count = @comptest.count %>


		<% @comptest.each do |c| %>
			<tr>
				<td><%= c.subject %>Mock Test -<%= i %></td>
				<td><%= c.created_at %></td>
				<td>
					<a href="/exam/<%= c.tc %>/<%= @subject %>" ><button class="btn btn-success">Start Mock Test</button></a>
					<% if @testcount.empty %>
					<% end %>
				</td>
			
			</tr>
			<% if i == ad %>
				
				<tr class="text-center">
					<td colspan="3">
	 				<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	 				 <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
	                </td> 
	             </tr>
                <% end %>

			<% i+=1 %>
	<% end %>
		</table>
<% end %>

</div>

<div class="col-sm-2 text-center"></div>

</div>
		<div class="row text-center">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:100px'></ins>
	                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	    </div>

</div>
