<style type="text/css">
	table {
    table-layout: fixed;
    word-wrap: break-word;
}
</style>
<% i = 1 %>
<% j = 0 %>
<div class="container">
	<table class="table table-bordered">
		<tr class="text-center">
			<th>Question</th>
			<th>Your Answer</th>
			<th>True Answer</th>
		</tr>
		<% ad=@ecetresults.count/3 %>
		<% ad2=@ecetresults.count/3 %>
			<% @ecetresults.each do |r| %>
			
			<% @question = Ecet.find_by_id(r.question) %>
				<% if r.answer == @question.t %>
					<% color = "lightgreen" %>
					<% j+= 1 %>
				<% else %>
					<% color ="#f27171" %>
				<% end %>
				
				<tr>
					<td ><%= @question.question %></td>
					<td style="background-color:<%= color%>"><%= r.answer %></td>
					<td><%= @question.t %></td>
				</tr>

				<% if i == ad %>
				<% ad+=ad2 %>
				<tr class="text-center">
				<td colspan="3">
					 <script ></script>
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 </ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                   </td> 
                   
                </tr>
                <% end %>


				<% i+=1 %>
			<% end %>
	</table>

	<div class="row text-center">
		<div class="col-md-6">
		Total Questions Attempt = <%= @ecetresults.count %>
		Your Correct Answer = <%= j %>
		</div>
	</div>
</div>