 <div class="container">
          <% if notice %>
                  <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <%= notice %>
                  </div>
                  <% end %>
                  <% if alert %>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <%= alert %>
                  </div>
                  <% end %>
       <div class="row text-center">
        
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px;'></ins>
               
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        
        </div>

        <div class="text-center flickr_pagination">
            <%= will_paginate @questions, :class => "flickr_pagination", :previous_label => "Previous", :next_label => 'Next', :page_links => true, renderer: BootstrapPagination::Rails %>
        </div>

<% @questions.each do |q| %>
<div class="row">
      <div class="col-sm-4">
      <h3 class="text-success"><%= q.subject %></h3>
      </div>
      <div class="col-sm-4">
        <!-- Current Time :<b class="text-danger"> <%= Time.now.strftime('%l:%M %p')%></b> -->
      </div>
      <div class="col-sm-4">
      <h4 class="text-success text-right">Exam started at &nbsp;&nbsp;&nbsp;
      <!-- <b class="text-info"><%= @time.created_at.strftime('%d %B %Y') %></b> -->
      <b class="text-danger"><%= @time.created_at.strftime('%l:%M %p')%></b></h4>
      </div>
</div>
  <div class="panel panel-default">
    <div class="panel-body"><p><%= @questions.current_page %>) <%= q.question.html_safe %></p><br>
    <% if q.qimage? %>
    <div class="row">
    <div class="col-sm-8">
      <p class="text-center"><span class="img-thumbnail"><%= image_tag(q.qimage, :class => 'img-thumbnail') %></span></p>
      </div>
      <div class="col-sm-4">
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- school9edu_main_Blog1_1x1_as -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7665698555914778"
           data-ad-slot="9074553645"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    <% end %>
    </div>
  </div>
                
    <div class="panel panel-default">
          <div class="panel-body">
          <div class="row">     
          <div class="col-sm-5">
           <%= simple_form_for @submitque, :input_html => {:id => "form_id", :class => "form-horizontal"}, url: {action: "submitque", method: "post"} do |f| %> 
              <%= f.error_notification %>

               <%= f.hidden_field :question, :value => q.id %>
               <%= f.hidden_field :subject, :value => @subject %>
               <% if @questions.current_page == @questions.count %>
                <%= f.hidden_field :pag, :value => @questions.current_page %>
                <% else %>
                 <%= f.hidden_field :pag, :value => @questions.current_page+1 %>
                 <% end %>
                <%= f.hidden_field :tc, :value => q.tc %>
               <% @ad = q.comman %>
              
              <% if q.comman == "yes"%>
              <%= f.input :answer, as: :radio_buttons, :required => true, :label => false, collection: ([[image_tag(q.optiona,:class => 'img-thumbnail'),'a'] , [image_tag(q.optionb,:class => 'img-thumbnail'),'b'], [image_tag(q.optionc,:class => 'img-thumbnail'),'c'], [image_tag(q.optiond,:class => 'img-thumbnail'), 'd']]) %>

              <% else %>
                  <%= f.input :answer, as: :radio_buttons, :required => true, :label => false, collection: ([[q.a.html_safe,'a'] , [q.b.html_safe,'b'], [q.c.html_safe,'c'], [q.d.html_safe, 'd']]), wrapper: :vertical_radio_and_checkboxes %>
              <% end %>


                <% disabled = Submitque.where(:userid => current_user, :question => q.id, :subject => @subject) %>
                   <% if disabled.empty? %>

                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:50px; margin-left: -60px;'></ins>
               <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

                      <%= f.submit "submit", :class => "btn btn-primary"%>
                  <% else %>

                   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:50px; margin-left: -40px;'></ins>
               <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

                      <p class="btn btn-primary disabled"><abbr title="Already submitted">Answer Submitted</abbr></p>
                   <% end %>

              
           
           </div>
            <% end %>
           <div class="col-sm-3 text-center">
           <% if @ad == "yes"%>
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- school9edu_main_Blog1_1x1_as -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="9074553645"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>  
           <% else %>
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive Links -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="8409268847"
                         data-ad-format="link"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            <% end %>
              </div>
            <div class="col-sm-4 text-center"><br><br><br>
                <a href="/ecetresults/<%= q.tc %>/<%= @subject %>" > <button class="btn btn-danger">Finsh Exam</button></a>
            </div>
             </div>
  <% end %>
</div>
</div>


      <div class="text-center"> 
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px;'></ins>
               
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
</div>