
<!--  <script type="text/javascript">
  function submit_by_tag() {
var name = "k"
var email = "k"

alert(" Name : " + name + " \n Email : " + email + " \n Form Tag : <form>\n\n Form Submitted Successfully......");
}
 </script> -->

 <div class="container-fluid">
<% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>
</div>
<br>
	<div class="container">
	<div class="col-sm-12">
<% @questions.each do |q| %>
  <div class="panel panel-default">
    <div class="panel-body"><%= q.question%></div>
  </div>
                    <div style="width:90%; height: 100px" class="text-center"><script ></script>
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 </ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                    </div>
<div class="panel panel-default">
          <div class="panel-body">
          <div class="col-sm-4">
           <%= simple_form_for @submitque, :input_html => {:id => "form_id", :class => "form-horizontal"}, url: {action: "submitque", method: "post"} do |f| %> 
              <%= f.error_notification %>

               <%= f.hidden_field :question, :value => q.id %>
               <%= f.hidden_field :subject, :value => @subject %>
               <% if @questions.current_page == @questions.count %>
                <%= f.hidden_field :pag, :value => @questions.current_page %>
                <% else %>
                 <%= f.hidden_field :pag, :value => @questions.current_page+1 %>
                 <% end %>
                <%= f.hidden_field :tc, :value => q.tc %>
               <%= f.input :answer, as: :radio_buttons, :required => true, :label => false, collection: [q.a, q.b,q.c,q.d], wrapper: :vertical_radio_and_checkboxes %>
                <% disabled = Submitque.where(:userid => current_user, :question => q.id, :subject => @subject) %>
                   <% if disabled.empty? %>
                      <%= f.submit "submit", :class => "btn btn-primary"%>
                  <% else %>
                      <p class="btn btn-primary disabled"><abbr title="Already submitted">Answer Submitted</abbr></p>
                   <% end %>

              
            <% end %>
           </div>
           <div class="col-sm-4 text-center"><br><br>
           <script ></script>
              <!-- 200*90 LINKS -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:200px;height:90px"
                   ></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              </div>
            <div class="col-sm-4 text-center"><br><br><br>
                <a href="/ecetresults/<%= q.tc %>/<%= @subject %>" > <button class="btn btn-success">Finshed Exam</button></a>
            </div>
             </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @questions, :previous_label => "Previous", :next_label => 'Next', :page_links => false, renderer: BootstrapPagination::Rails %>
  </div>
</div>
                    <div style="width:90%; height: 100px" class="text-center"><script ></script>
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 </ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                    </div>
</div>
		</div>


</div>