 <div class="container">
          <% if notice %>
                  <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <%= notice %>
                  </div>
                  <% end %>
                  <% if alert %>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <%= alert %>
                  </div>
                  <% end %>
<br>
       <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- 728*90 -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-4211720830189288"
                   data-ad-slot="9899296254"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </div>  
         <div class="col-sm-2"></div>
        </div>



<% @questions.each do |q| %>
  <div class="panel panel-default">
    <div class="panel-body"><%= q.question%></div>
  </div>
                
    <div class="panel panel-default">
          <div class="panel-body">
          <div class="row">     
          <div class="col-sm-3">
           <%= simple_form_for @submitque, :input_html => {:id => "form_id", :class => "form-horizontal"}, url: {action: "submitque", method: "post"} do |f| %> 
              <%= f.error_notification %>

               <%= f.hidden_field :question, :value => q.id %>
               <%= f.hidden_field :subject, :value => @subject %>
               <% if @questions.current_page == @questions.count %>
                <%= f.hidden_field :pag, :value => @questions.current_page %>
                <% else %>
                 <%= f.hidden_field :pag, :value => @questions.current_page+1 %>
                 <% end %>
                <%= f.hidden_field :tc, :value => q.tc %>
               <%= f.input :answer, as: :radio_buttons, :required => true, :label => false, collection: [q.a, q.b,q.c,q.d], wrapper: :vertical_radio_and_checkboxes %>
                <% disabled = Submitque.where(:userid => current_user, :question => q.id, :subject => @subject) %>
                   <% if disabled.empty? %>
                      <%= f.submit "submit", :class => "btn btn-primary"%>
                  <% else %>
                      <p class="btn btn-primary disabled"><abbr title="Already submitted">Answer Submitted</abbr></p>
                   <% end %>

              
           
           </div>
            <% end %>
           <div class="col-sm-5 text-center">
           <br>
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive Links -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="8409268847"
                         data-ad-format="link"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
              </div>
            <div class="col-sm-4 text-center"><br><br><br>
                <a href="/ecetresults/<%= q.tc %>/<%= @subject %>" > <button class="btn btn-danger">Finshed Exam</button></a>
            </div>
             </div>
  <% end %>
</div>
</div>

<div class="text-center">
  <%= will_paginate @questions, :previous_label => "Previous", :next_label => 'Next', :page_links => true, renderer: BootstrapPagination::Rails %>
  </div>
      <div class="text-center">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- 728*90 -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-4211720830189288"
                   data-ad-slot="9899296254"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
      </div>
</div>