	<!-- ============================================================== -->
 <!-- Start right Content here -->
 <!-- ============================================================== -->
 <div class="content-page">
  <!-- Start content -->
  <div class="content">
   <div class="container">
    <!-- Page-Title -->
    <div class="row1">
      <div class="col-sm-12">
        <h4 class="page-title">Add Eamcet Questions</h4>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Cets</a></li>
          <li class="active">Add Questions</li>
        </ol>
        <% if notice && notice = "Eamcet Question was successfully added"%>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>
  </div>  


<div class="container">
<div class="row">
  <%= simple_form_for @eamcet, url: {:action => "addeamcet",  :method => "post"} do |f| %>

<div class="row">
<div class="col-sm-8">
<div class="col-sm-6">
<!-- 
 -->
 <%= f.hidden_field :cet, :value => "emacet" %><h4> <b>EAMCET</b></h4></div>
<div class="col-sm-6">
   <%= f.input :subject, :required => true, :collection => ['Mathematics','Physics','Chemistry'], :label => false, :input_html => {:style => "width:100%;", :class => "form-control"}, :prompt => "Select Subject" %><br>
</div>
</div>
</div>
<!--  <%= f.input :subject, :required => true, :placeholder => "subject", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %> -->

  <%= f.input :question, :required => true, :placeholder => "Add Question", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %><br>

  <div class="row">
  <!-- <div class="col-sm-8"> -->
  <div class="col-sm-4">
  <%= f.input :a, :required => true, :placeholder => "option A", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
  <%= f.input :b, :required => true, :placeholder => "option B", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
    </div>
    <div class="col-sm-4">
  <%= f.input :c, :required => true, :placeholder => "option C", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
  <%= f.input :d, :required => true, :placeholder => "option D", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
  </div>
    <div class="col-sm-4">
  <%= f.input :t, :placeholder => "True Answer", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
   <%= f.input :tc, :placeholder => "Test Count", :label => false, :input_html => {:style => "width:100%;", :class => "form-control"} %>
   </div>
<!-- </div> -->
 
</div>

<div class="text-center">
 <%= f.submit "submit", :class => "btn btn-primary" %>
 </div>
  <% end %>
</div>
</div>
</div>
</div>