<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="keywords" content="NEET, neet,NEET GOV ONLINE EXAMINATION PORTAL, SBTET WORLD ONLINE EXAMINATION PORTAL, ap ecet online test practice, ts ecet online test practice, ecet, online test, neetgov, neetgov.in, Ap ecet online exam test, Ts online exam test, Ecet online test exam test practice, NEET <%= Time.current.year  %>, sbtetworld.in, sbtetworld, sbtet, Get All ANUCET, APGENCO & APTRANSCO, APRJC, APSET APTET AUCET, CEEP, Civil, CSSET & CSAET DIETCET, DSC, EAMCET, ECET, EDCET, IBSAT, ICET, lAWCET, lPCET ,NEET ,PECET ,PGCET, PGECET ,POLYCET ,TSSET UPSC ,AIEEE, AIIMS, BITSA,T CA ,IPCC, CA-CPT, CAT, CHSL, CIVILS I, GATE, IIT-JEE, SSB Much more Online Exam Test, Notifications, Time tables, Results, Syllabus books">
<meta name="description" content="Neet Gov Providing All india Educations Updates, Notifications, Time tables, Results, Syllabus books, Etc. This Info for Helping Students We Are Providing Accurately for Official Conformation contact college section and higher authorities">

  <meta name="google-site-verification" content="Hkjj2HdvwtIjG9-vQXd3hQMfGgJ7STiY9OCTwIbg2uc" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
   <link rel="icon" href="/images/sbtet.png" type="image/png"> 
   

        <style>  
          ins.adsbygoogle { background: transparent !important; }
        </style>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91430718-2', 'auto');
            ga('send', 'pageview');

        </script>


        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7665698555914778",
              enable_page_level_ads: true
            });
          </script>

  
</head>
<body class="gray-bg  pace-done">

<% if user_signed_in? %>
<%= render :partial => 'layouts/navbar' %>
<% else %>
<%= render :partial => 'layouts/navbar2' %>
<%end%>

<%= yield %>

<br><br><br>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
