<!DOCTYPE html>
<html>
<head>
  <title>OnlineExam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
  <meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
  <meta http-equiv="pragma" content="no-cache">
</head>
<body class="gray-bg  pace-done">

<% if user_signed_in? %>
<%= render :partial => 'layouts/navbar' %>
<% else %>
<%= render :partial => 'layouts/navbar2' %>
<%end%>
<!-- <div class="container"> -->

<%= yield %>
<!-- <%= render :partial => 'layouts/footer' %> -->

<!-- </div> -->





<!-- <footer class="text-center">Copyright &copy; <a href="https://www.linkedin.com/in/khalidh-sd-96284239/" target="_blank">Khalidh</a> </footer> -->
<br><br><br>
<footer class="text-center footer navbar-fixed-bottom">
  <a href="https://www.linkedin.com/in/khalidh-sd-96284239/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a>&nbsp;&nbsp;&nbsp;

  <a href="https://www.facebook.com/khalidh.khalid" target="_blank"><i class="fa fa-facebook-square" style="font-size:30px"></i></a>&nbsp;&nbsp;&nbsp;

  <a href="https://plus.google.com/u/0/107659702751121090928" target="_blank"><i class="fa fa-google-plus-square" style="font-size:30px"></i></a>
</footer>

</body>
</html>
